In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\rb\anaconda3\lib\site-packages (4.9.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\rb\anaconda3\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\rb\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\rb\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: trio~=0.17 in c:\users\rb\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\rb\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: async-generator>=1.9 in c:\users\rb\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\users\rb\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\rb\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\rb\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\rb\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: cffi>=1.14 in c:\users\rb\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: sniffio in c:\users\rb\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\rb\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\rb\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\rb\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\rb\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
# import libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [3]:
# first connect to the driver
driver=webdriver.Chrome(r"C:\Users\RB\Desktop\flip robo internship\New folder\chrome driver.exe")

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data. This task will be done in following steps:

1.First get the webpage https://www.naukri.com/ 2.Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field. 3.Then click the searchbutton. 4.Then scrape the data for the first 10 jobs results youget. 5.Finally create a dataframe of the scraped data.

In [4]:
#First get the webpage
driver.get("https://www.naukri.com/")

In [5]:
#entering designation and location
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [6]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [7]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [8]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [12]:
#scraping job title from given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
        
#scraping job location from given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    

    
#scraping company name from given page
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
    
#scraping job experience from given page
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [15]:
print(len(job_title))

20

In [16]:
print(len(job_location))

20

In [17]:
print(len(company_name))

20

In [18]:
print(len(experience_required))

20

In [22]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required})
df.head(10)

,Title,Location,Company_name,Experience
0,Tech Data Analyst,"Hybrid - Bangalore/ Bengaluru, Karnataka, Gurg...",Wipro,3-6 Yrs
1,Data Analyst,Bangalore/Bengaluru,Brunel,4-6 Yrs
2,Celonis & Salesforce Data Analyst,"Bangalore/Bengaluru, Chennai",Hitachi Energy,3-6 Yrs
3,Celonis & Salesforce Data Analyst,Bangalore/Bengaluru,Hitachi Ltd.,2-7 Yrs
4,Data Analyst,Hybrid - Bangalore/Bengaluru,HARMAN,3-5 Yrs
5,Knowledge Data Analyst,Bangalore/Bengaluru,SAP,4-6 Yrs
6,Data Analyst (Bangalore),Bangalore/Bengaluru,Krazy Mantra,7-12 Yrs
7,Data Analyst,Bangalore/Bengaluru,Loyalytics Consulting,4-9 Yrs
8,Data Analyst,Bangalore/Bengaluru,Aventus Technology India,2-7 Yrs
9,Data Analyst - FinTech,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Primo Hiring,1-2 Yrs

# Q.2Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the 
location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results youget.
5. Finally create a dataframe of the scraped data.

In [23]:
#First get the webpage
driver.get("https://www.naukri.com/")

In [24]:
#entering designation and location
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [25]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [26]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [27]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [29]:
#scraping job title from given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
        
#scraping job location from given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    

    
#scraping company name from given page
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
    
#scraping job experience from given page
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [30]:
print(len(job_title))

20

In [31]:
print(len(job_location))

20

In [32]:
print(len(company_name))

20

In [33]:
print(len(experience_required))

20

In [34]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required})

df.head(10)

,Title,Location,Company_name,Experience
0,Permanent Opportunity - Data Scientist(Snaplog...,"Hybrid - Bangalore/Bengaluru, Kolkata, Hyderab...",Deloitte,9-14 Yrs
1,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,6-8 Yrs
2,Data Scientist,Bangalore/Bengaluru,Ericsson India Global Services Pvt. Ltd.,5-7 Yrs
3,Data Scientist,Bangalore/Bengaluru,Ericsson India Global Services Pvt. Ltd.,3-7 Yrs
4,Data Scientist,Bangalore/Bengaluru,Ericsson India Global Services Pvt. Ltd.,5-7 Yrs
5,Deputy Manager - B2C Underwriting,Bangalore/Bengaluru,Bajaj Finserv Ltd.,1-3 Yrs
6,Hiring For Data Scientist,"Hybrid - Bangalore/ Bengaluru, Karnataka, Hyde...",Tata Consultancy Services (TCS),4-9 Yrs
7,Data Scientist,"Hybrid - Bangalore/Bengaluru, Pune, Delhi / NC...",Infogain,3-6 Yrs
8,Data Scientist - R/Python,"Temp. WFH - Bangalore/Bengaluru, Kolkata, Mumb...",Okda Solutions,4-7 Yrs
9,Data Scientist - Engine Algorithm,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Primo Hiring,1-3 Yrs

Q3: In this question you have to scrape data using the filters available on the webpage as shown below
    You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required. 
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get thewebpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the searchbutton.
4. Then apply the location filter and salary filter by checking the respectiveboxes
5. Then scrape the data for the first 10 jobs results youget.
6. Finally create a dataframe of the scrapeddata.

In [10]:
# import libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [11]:
# first connect to the driver
driver=webdriver.Chrome(r"C:\Users\RB\Desktop\flip robo internship\New folder\chrome driver.exe")

In [12]:
#First get the webpage
driver.get("https://www.naukri.com/")

In [13]:
#entering designation and location
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [14]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Delhi/NCR')

In [15]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [16]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [17]:
#scraping job title from given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
    
        
#scraping job location from given page

location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
    

    
#scraping company name from given page
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
    
#scraping job experience from given page
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [18]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [19]:
import pandas as pd

df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,Location,Company_name,Experience
0,Permanent Opportunity - Data Scientist(Snaplog...,"Hybrid - Delhi / NCR, Kolkata, Hyderabad/Secun...",Deloitte,9-14 Yrs
1,Machine Learning (AI) Architect,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Persistent,5-12 Yrs
2,Data Scientist,"Hybrid - Delhi / NCR, Pune, Bangalore/Bengalur...",Infogain,3-6 Yrs
3,Data Scientist - R/Python,"Temp. WFH - Delhi / NCR, Kolkata, Mumbai, Hyde...",Okda Solutions,4-7 Yrs
4,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
5,Data Scientist - R/Python,"Temp. WFH - Delhi / NCR, Kolkata, Mumbai, Visa...",Okda Solutions,4-7 Yrs
6,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",IBS Software Services,3-8 Yrs
7,Director/Senior Director - Data Science,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",Axtria India,10-15 Yrs
8,Manager/Senior Manager - Data Science,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",Axtria India,8-12 Yrs
9,Senior Customer Facing Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Sparkbeyond,7-8 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. ProductDescription
3. Price
The attributes which you have to scrape is ticked marked in the below image.


To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url :https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and 
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the 
required data asusual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page asusual
6. Repeat this until you get data for 100sunglasses

In [33]:
# first connect to the driver
driver=webdriver.Chrome(r"C:\Users\RB\Desktop\flip robo internship\New folder\chrome driver.exe")

In [4]:
#First get the webpage
driver.get("https://www.flipkart.com/")

In [5]:
search_g= driver.find_element(By.XPATH,"//input[@type='text']")

search_g

In [6]:
search_g.send_keys('sunglasses')

In [7]:
search_btn=driver.find_element(By.XPATH,"//button[@class='L0Z3Pu']")

search_btn

In [37]:
driver.get("https://www.flipkart.com/search?q=Sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&as-pos=1&as-type=HISTORY%22")

In [38]:
B_name=[]
P_desc=[]
Price=[]

In [39]:
#scraping job title from given page
for i in range(4):
    print('scraping page',i+1)
    b_name=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    for j in b_name:
        brand=j.text
        B_name.append(brand)
        print(len(B_name))
   
    price_p=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    for k in price_p:
        price=k.text
        Price.append(price)
        print(len(Price))

scraping page 1
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
scraping page 2
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
scraping page 3
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
scraping page 4
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160

In [40]:
sun_gl=pd.DataFrame({})
sun_gl['Br_name']=B_name
sun_gl['P_price']=Price
sun_gl.head(100)

          Br_name P_price
0   VINCENT CHASE    ₹688
1   VINCENT CHASE    ₹749
2       Elligator    ₹109
3            BKGE    ₹149
4        Fastrack    ₹499
..            ...     ...
95  VINCENT CHASE    ₹569
96       Fastrack    ₹569
97         PIRASO    ₹192
98      Elligator    ₹213
99     style guru    ₹899

[100 rows x 2 columns]

Q.5 Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: 
https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market
place=FLIPKART
As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews

In [18]:
# first connect to the driver
driver=webdriver.Chrome(r"C:\Users\RB\Desktop\flip robo internship\New folder\chrome driver.exe")

In [19]:
#First get the webpage
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market")

In [20]:
R_rating=[]
Review_summary=[]
Full_review=[]

In [49]:
#scraping job title from given page

rating=driver.find_elements(By.XPATH,"//div[@class='_2d4LTz']")
for j in rating[:100]:
    Rating=j.text
    rating.append(Rating)
print(len(rating))

0

In [ ]:
Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, 
Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpagehttps://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make theDataFrame

In [29]:
# import libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [30]:
# first connect to the driver
driver=webdriver.Chrome(r"C:\Users\RB\Desktop\flip robo internship\New folder\chrome driver.exe")

In [32]:
#First get the webpage
driver.get("https://www.jagranjosh.com/")

In [33]:
search_g= driver.find_element(By.XPATH,"//input[@type='text']")

search_g

In [34]:
search_g.send_keys('GK')

ElementNotInteractableException: Message: element not interactable
  (Session info: chrome=113.0.5672.129)
Stacktrace:
Backtrace:
	GetHandleVerifier [0x00EE8893+48451]
	(No symbol) [0x00E7B8A1]
	(No symbol) [0x00D84F20]
	(No symbol) [0x00DACB96]
	(No symbol) [0x00DAC401]
	(No symbol) [0x00DCA2BC]
	(No symbol) [0x00DA9586]
	(No symbol) [0x00DCA614]
	(No symbol) [0x00DDC482]
	(No symbol) [0x00DCA0B6]
	(No symbol) [0x00DA7E08]
	(No symbol) [0x00DA8F2D]
	GetHandleVerifier [0x01148E3A+2540266]
	GetHandleVerifier [0x01188959+2801161]
	GetHandleVerifier [0x0118295C+2776588]
	GetHandleVerifier [0x00F72280+612144]
	(No symbol) [0x00E84F6C]
	(No symbol) [0x00E811D8]
	(No symbol) [0x00E812BB]
	(No symbol) [0x00E74857]
	BaseThreadInitThunk [0x762000C9+25]
	RtlGetAppContainerNamedObjectPath [0x77677B4E+286]
	RtlGetAppContainerNamedObjectPath [0x77677B1E+238]

# Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e. 
Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpagehttps://www.motor1.com/
2. Then You have to type in the search bar ’50 most expensive cars’
3. Then click on 50 most expensive carsin the world..
4. Then scrap the mentioned data and make the dataframe

In [4]:
# import libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [5]:
# first connect to the driver
driver=webdriver.Chrome(r"C:\Users\RB\Desktop\flip robo internship\New folder\chrome driver.exe")

In [14]:
#First get the webpage
driver.get("https://www.motor1.com/")

In [15]:
search_g= driver.find_element(By.XPATH,"//input[@type='text']")

search_g

In [16]:
search_g.send_keys('50 most expensive cars')

In [20]:
search_btn=driver.find_element(By.XPATH,"//input[@class='features-search_input']")

search_btn

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//input[@class='features-search_input']"}
  (Session info: chrome=113.0.5672.129)
Stacktrace:
Backtrace:
	GetHandleVerifier [0x00EE8893+48451]
	(No symbol) [0x00E7B8A1]
	(No symbol) [0x00D85058]
	(No symbol) [0x00DB0467]
	(No symbol) [0x00DB069B]
	(No symbol) [0x00DDDD92]
	(No symbol) [0x00DCA304]
	(No symbol) [0x00DDC482]
	(No symbol) [0x00DCA0B6]
	(No symbol) [0x00DA7E08]
	(No symbol) [0x00DA8F2D]
	GetHandleVerifier [0x01148E3A+2540266]
	GetHandleVerifier [0x01188959+2801161]
	GetHandleVerifier [0x0118295C+2776588]
	GetHandleVerifier [0x00F72280+612144]
	(No symbol) [0x00E84F6C]
	(No symbol) [0x00E811D8]
	(No symbol) [0x00E812BB]
	(No symbol) [0x00E74857]
	BaseThreadInitThunk [0x762000C9+25]
	RtlGetAppContainerNamedObjectPath [0x77677B4E+286]
	RtlGetAppContainerNamedObjectPath [0x77677B1E+238]

In [21]:
# Step 4: Scrape the data and create the dataframe
car_list = []
prices_list = []

In [27]:
c_list=driver.find_elements(By.XPATH,"//h3[@class='subheader']")
for j in c_list:
    list=j.text        
    car_list.append(list)        
    print(len(car_list))

price_p=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
for k in price_p:
    price=k.text
    prices_list.append(price)        
    print(len(prices_list))

In [28]:
df = pd.DataFrame({'Car Name': car_list, 'Price': prices_list})
print(df)

Empty DataFrame
Columns: [Car Name, Price]
Index: []